body {
    background: #fff6e6;
    font-family: Verdana;
    margin: auto;
    max-width: 1200px;
}

#titulo, #subtitulo, #titulopost  {
    color: rgb(58, 58, 58);
}

.foto_leonardo {
    border-radius: 50%;
    border: 1px solid #464646;
}

#titulo {
    font-size: 14px;
    font-style: italic;
    font-size: 40px;
    text-transform: uppercase;
}

#subtitulo {
    text-align: center;
}

.post {
    background: #e6ddcf;
    padding: 7px;
    border: 2px solid #d4cdc0;
    border-radius: 1%;
    margin: 0;
    margin-left: 13px;
}

.post_content {
    margin: 0;
    margin-bottom: 13px;
    margin-left: 3px;
    margin-right: 3px;
    text-transform: capitalize;
    text-align: center;
    font-size: 15px;
}

.post_image {
    margin-bottom: 10px;
    margin-left: 30px;
    border-style: dashed;
    border-radius: 1px;
    border-width: 3px;
    border-color: #d4cdc0;
}

#titulopost {
    margin-bottom: 12px;
    margin-top: 12px;
    margin-left: 10px;
}

.content_list li {
    list-style-image: url(midias-sociais-pequeno.png);
}

.content_list {
    font-size: 13px;
}

